<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/vedantkoppal">Services</a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/vedantkoppal">About</a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/vedantkoppal">Terms</a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/vedantkoppal">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Mr. Robot © 2022</p>
    </footer>
</div>