<div id="job-description" class="border-bottom row" style="margin-bottom:10px;padding-bottom:8px;">
<div class="col-9">
  <div id="job-title">{{job['title']}}</div>
  <div id="location" class="fw-lighter"><b>Location : </b>{{job['location']}}</div>
  {%if 'salary' in job%}
  <div id="salary" class="fw-lighter"><b>Salary : </b>{{job['salary']}}</div>
  {%endif%}
</div>
<div class="col-3 align-self-center">
  <a href="mailto:hello@jobhunt.in?subject=Application for {{job['title']}}";type="button" class="btn btn-primary">Apply</a>
</div>
  </div>